/*Rotate a square div by 45 degrees using the transform: rotate() property:*/
.rotate-square {
    width: 50px;
    height: 50px;
    background-color: blue;
    transform: rotate(45deg);
}


/*Create a button that scales up by 1.2 times when hovered over using the transform: scale() property: */

.scale-button {
    padding: 50px 100px;
    background-color: white;
    color: blue;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.scale-button:hover {
    transform: scale(1.2);
}

/*Move a circle div 100px to the right using the transform: translateX() property: */


.move-circle {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 30%;
    transform: translateX(150px);
}

/*Apply both rotation and scaling to a div simultaneously using the transform property: */


.rotate-scale-div {
    width: 50px;
    height: 50px;
    background-color:blue;
    transform: rotate(50deg) scale(2.5);
}

/*Create a div that changes its background color smoothly over 0.5 seconds when hovered over using the transition property: */


.background-transition-div {
    width: 50px;
    height: 50px;
    background-color:blue;
    transition: background-color 0.5s;
}

.background-transition-div:hover {
    background-color: red;
}

/*Create a div that transitions both its width and height smoothly over 1 second when hovered over using the transition property: */


.size-transition-div {
    width: 50px;
    height: 50px;
    background-color: blue;
    transition: width 1s, height 1s;
}

.size-transition-div:hover {
    width: 100px;
    height: 100px;
}

/*Create a heading that rotates 10 degrees when hovered over using transform: rotate() and transition: */


.rotate-heading {
    display: block;
    transition: transform 0.3s;
}

.rotate-heading:hover {
    transform: rotate(90deg);
}